.app-page {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  display: flex;
  flex-direction: column;
}

.app-page-body {
  height: 100%;
  width: 80%;

  align-self: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.app-page-body .sidebar {
  border-right: 1px solid black;
}
.app-page-body .sidebar .option {
  margin: 10px;
  padding: 3px;

  border: 1px solid black;

  cursor: pointer;
}
.app-page-body .sidebar .option:hover {
  background-color: rgb(185, 185, 185);
}

.app-page-body .main-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin: 20px;
}